<div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-4">Directives NgFor</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of people let num = index">
        <td scope="row">{{ num }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.city }}</td>
      </tr>
    </tbody>
  </table>

</div>


  <!-- <h3 *ngFor="let article of articles">{{ article }}</h3> -->

<!-- <div [ngClass]="{'bordered': classA}" >Apply this Class</div>

<button (click)="toggleClass()">Toggle Class</button> -->

<!-- <h1 [ngStyle]="{color: 'green', 'background-color': 'blue'}">NgStyle</h1> -->
